@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-blue: #202124;
    --color-white: #F6F6F6;
    --color-sky: #87CEEB;
    --color-gray: #303134;
    --color-light-gray: #404244;
    --background: #202124;
    --foreground: #F6F6F6;
}

@layer base {
    :root {
        --color-blue: #202124;
        --color-white: #F6F6F6;
        --color-sky: #87CEEB;
        --color-gray: #303134;
        --color-light-gray: #404244;
        --background: #202124;
        --foreground: #F6F6F6;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-blue: #202124;
            --color-white: #F6F6F6;
            --color-sky: #87CEEB;
            --color-gray: #303134;
            --color-light-gray: #404244;
            --background: #202124;
            --foreground: #F6F6F6;
        }
    }
}

body {
    font-size: calc(16px + 0.5vw);
    color: var(--foreground);
    background: var(--background);
}

.text-shadow:hover {
    transition: text-shadow 0.25s ease-in-out;
    text-shadow: 0 0 30px rgba(255, 165, 0, 1);
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: loader-spin 2s linear infinite;
}

/* Loader.css */
.loader-dot {
    animation: loaderDotAnimation 1.4s infinite;
}

.loader-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loader-dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes loaderDotAnimation {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1, 2.2);
    }
    40% {
        transform: scale(1);
    }
}

.response-code {
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 3px;
    padding: 0.5rem;
    font-family: 'Fira Mono', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type='range'] {
        -webkit-appearance: none;
        background-color: var(--color-light-gray);
    }

    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: var(--color-sky);
    }

    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
        background: var(--foreground);
        /*slider-progress*/
        /*box-shadow: -80px 0 0 80px #43e5f7;*/
    }

    input[type="range"]::-webkit-progress-value {
        background-color: #43e5f7;
    }

    progress {
        -webkit-appearance: none;
    }
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #43e5f7;
}

input[type="range"]::-moz-range-track {
    background-color: #9a905d;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #43e5f7;
}

input[type="range"]::-ms-fill-upper {
    background-color: #9a905d;
}

.catalog-links {
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -75%);
    transition: transform 1s ease-in-out;
}

/*li {*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

/*ul {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*}*/

/*@keyframes ellipsis {*/
/*    from {*/
/*        transform: translate(0%, 0%) rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: translate(0%, 0%) rotate(360deg);*/
/*    }*/
/*}*/

/*ul {*/
/*    animation: ellipsis 20s linear infinite;*/
/*    transform-origin: center;*/
/*}*/