@import "animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-blue: #202124;
    --color-white: #F6F6F6;
    --color-sky: #87CEEB;
    --color-gray: #303134;
    --color-light-gray: #404244;
    --background: #202124;
    --foreground: #F6F6F6;
}

@layer base {
    :root {
        --color-blue: #202124;
        --color-white: #F6F6F6;
        --color-sky: #87CEEB;
        --color-gray: #303134;
        --color-light-gray: #404244;
        --background: #202124;
        --foreground: #F6F6F6;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-blue: #202124;
            --color-white: #F6F6F6;
            --color-sky: #87CEEB;
            --color-gray: #303134;
            --color-light-gray: #404244;
            --background: #202124;
            --foreground: #F6F6F6;
        }
    }
}

body {
    font-size: calc(16px + 0.5vw);
    color: var(--foreground);
    background: var(--background);
}

.text-shadow:hover {
    transition: text-shadow 0.25s ease-in-out;
    text-shadow: 0 0 30px rgba(255, 165, 0, 1);
}
